<%- include('../partials/header') %>
  <h1>Questions</h1>
  <ul class = "questions-list">
  <% for (let question of questions) { %>
    <li>
    <a href="/questions/<%= question.id  %>">
    <%= question.title %>
    </li>
  <% } %>
  </ul>
<%- include('../partials/footer') %>
